<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 100%; display: flex; flex-direction: column; align-items: center;">
    <h2>Study Sessions Overview</h2>
    <div style="width: 80%; height: 300px;">
      <canvas
        baseChart
        [data]="studySessionChartData"
        [options]="chartOptions"
        [type]="'bar'">
      </canvas>
    </div>
  </div>
</ion-content>
