<ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="timer" [routerLink]="['/timer']">
          <ion-icon name="time-outline"></ion-icon>
          <ion-label>Timer</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="assignments" [routerLink]="['/assignments']">
          <ion-icon name="document-text-outline"></ion-icon>
          <ion-label>Assignments</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="stats" [routerLink]="['/stats']">
          <ion-icon name="stats-chart-outline"></ion-icon>
          <ion-label>Stats</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="exams" [routerLink]="['/exams']">
          <ion-icon name="school-outline"></ion-icon>
          <ion-label>Exams</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
  