<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Assignments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Add New Assignment</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Module Name</ion-label>
        <ion-input [(ngModel)]="moduleName" placeholder="Enter module name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Assignment Name</ion-label>
        <ion-input [(ngModel)]="assignmentName" placeholder="Enter assignment name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label style="padding-bottom: 20px;" position="stacked">Due Date</ion-label>
        <ion-datetime-button datetime="dueDateSelector"></ion-datetime-button>
      </ion-item>

      <ion-button expand="block" (click)="addAssignment()">Add Assignment</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-datetime
    id="dueDateSelector"
    [(ngModel)]="dueDate"
    presentation="date"
    preferWheel="true">
  </ion-datetime>

  <ion-card *ngIf="assignments.length > 0">
    <ion-card-header>
      <ion-card-title>Your Assignments</ion-card-title>
    </ion-card-header>
  
    <ion-list>
      <ion-reorder-group (ionItemReorder)="handleReorder($event)" disabled="false">
        <ion-item *ngFor="let assignment of assignments">
          <ion-label class="ion-text-wrap">
            <h2><strong>Module:</strong> {{ assignment.moduleName }}</h2>
            <p><strong>Assignment:</strong> {{ assignment.assignmentName }}</p>
            <p><strong>Due:</strong> {{ assignment.dueDate | date }}</p>
          </ion-label>
  
          <ion-button color="danger" size="small" (click)="deleteAssignment(assignment.id)" slot="end">
            Delete
          </ion-button>
  
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-list>
  </ion-card>

</ion-content>
