.button-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 buttons per row */
    grid-gap: 20px; /* Space between the buttons */
    width: 100%;
    max-width: 1200px; /* Optional: set max width for a more consistent design */
    text-align: center;
    margin-left: 8px;
    margin-top: 10px;
  }
  
  .square-button {
    width: 150px; /* Make the buttons square */
    height: 150px; /* Same height as width */
    font-size: 16px; /* Adjust text size */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  