<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>control-panel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">control-panel</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="button-panel">
    <div>
      <ion-button [routerLink]="['/timer']"> Timer </ion-button>
      <ion-button [routerLink]="['/assignments']">Assignments</ion-button>
      <ion-button [routerLink]="['/stats']">Statistics</ion-button>
    </div>
  </ion-content>
</ion-content>
