<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-buttons>

    <ion-title>Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Timer</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content class="ion-text-center">
      <div class="timer-display">
        <h1>{{minutes}}:{{seconds}}</h1>
      </div>

      <div class="timer-controls">
        <ion-button
          expand="block"
          color="primary"
          (click)="startTimer()"
          [disabled]="isRunning"
        >
          Start
        </ion-button>

        <ion-button
          expand="block"
          color="warning"
          (click)="pauseTimer()"
          [disabled]="!isRunning"
        >
          Pause
        </ion-button>

        <ion-button expand="block" color="danger" (click)="resetTimer()">
          Reset
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
